<html>

	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<title>Entries List</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		
	</head>

	<body>
		<div class="container-fluid">

			<a href="{% url 'guide_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> New Guide</a>
			<br>
			<a href="{% url 'entry_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> New Trip</a>
			<br>
			<a href="{% url 'sort_view' %}" class="top-menu"><span class="glyphicon glyphicon-list-alt"></span> Sort Trips</a>
			<br>
			<a href="{% url 'guide_list' %}" class="top-menu"><span class="glyphicon glyphicon-list-alt"></span> View Guides List</a>

			<div class="row">
				<div class="col-md-2"></div>

				<div class="col-md-8">
					{% block content %}

					{% endblock %}
				</div>

				<div class="col-md-2"></div>
			</div>
		</div>

	</body>

</html>