{% extends 'triplog/base.html' %}

	{% block content %}

		<p>{{ guide.FirstName }} {{ guide.LastName }}</p>

		<table>
			<tr>
				<th>LEADER</th>
				<th>DATE</th>
				<th>OTHER GUIDES</th>
				<th>RIVER</th>
				<th>TRIP TYPE</th>
				<th># OF RAFTS</th>
				<th># OF KAYAKS</th>
			</tr>

			{% for entry in entryList %}

				<tr>
					<td><a href="{% url 'single_guide' pk=entry.guide.pk %}">{{ entry.guide }}</a></td>
					<td><a href="{% url 'single_trip' pk=entry.pk %}">{{ entry.date }}</a></td>
					<td>
						<ul>
							{% for guide in  entry.otherGuides.all %}
								<li><a href="{% url 'single_guide' guide.pk %}">{{ guide }}</a></li>
							{% endfor %}
						</ul>
					</td>
					<td>{{ entry.river }}</td>
					<td>{{ entry.trip_type }}</td>
					<td>{{ entry.rafts}}</td>
					<td>{{ entry.kayaks }}</td>
				</tr>

			{% endfor %}

		</table>

	{% endblock %}
